  <header class="header-container">
    <a class="uni-logo">YourUni</a>
    <nav>
      <a class="active">Product</a>
      <a>Download</a>
      <a>Pricing</a>
    </nav>
  </header>
  <main>
    <div class="main-container" id="main-container-id">
    <div class="page-desc-wrapper">
      <div class="page-title">
        <div class="uni-title">Find the university that's right for you.</div>
        <div class="uni-desc">Tenture ex explicabo et illo.Reacusande Fig eius. Volupats atque autem totam.</div>
      </div>
      <div class="uni-image">
        <img  src="./../assets/uni.jpg" 
              alt="university image">
      </div>
    </div>
    <app-data-grid></app-data-grid>
    </div>
  </main>
